* {
  box-sizing: border-box; }

/*insert custom css below*/
body {
  padding: 0 1rem;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-align: left;
}

a {
  color: #000000;
  text-decoration: none; }
  a:hover {
    color: #000000;}

div.box {
	width: 360px;
	margin: 10 auto; /* when two "arguments" are passed to margin or padding, the first defines top
		and bottom margin/padding and the second defines left and right margin/padding */
	padding: 10px; /* when only one "argument" is passed to margin or padding, it defines the
		margin/padding on all four sides */
	border: 1px solid black; /* the 1px defines the border-width; the solid defines the border-style;
		the black defines the border-color */
}
